<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lvruan.mapper.TypeInfoMapper" >
  <resultMap id="BaseResultMap" type="com.lvruan.po.TypeInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="t_name" property="tName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, t_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from b_typeinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from b_typeinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lvruan.po.TypeInfo" >
    insert into b_typeinfo (id, t_name)
    values (#{id,jdbcType=INTEGER}, #{tName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lvruan.po.TypeInfo" >
    insert into b_typeinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tName != null" >
        t_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tName != null" >
        #{tName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lvruan.po.TypeInfo" >
    update b_typeinfo
    <set >
      <if test="tName != null" >
        t_name = #{tName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lvruan.po.TypeInfo" >
    update b_typeinfo
    set t_name = #{tName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findAll" resultMap="BaseResultMap">
   select * from b_typeinfo
  </select>
</mapper>